////////////////////////////
// その他の指定
////////////////////////////

//スクロールアクション

.blurTrigger, .fadeUpTrigger, .fadeInTrigger,
.fadeRightTrigger, .fadeLeftTrigger, .zoomInTrigger {
    opacity: 0;
}

.change-time {
    &05 {  
    animation-duration: 0.5s !important;
    }
    &10 {  
        animation-duration: 1.0s !important;
    }
    &15 {  
        animation-duration: 1.5s !important;
    }
    &20 {  
        animation-duration: 2.0s !important;
    }
    &25 {  
        animation-duration: 2.5s !important;
    }
    &30 {  
        animation-duration: 3.0s !important;
    }
}

.wait-time {
    &05 {  
    animation-delay: 0.5s !important;
    }
    &10 {  
        animation-delay: 1.0s !important;
    }
    &15 {  
        animation-delay: 1.5s !important;
    }
    &20 {  
        animation-delay: 2.0s !important;
    }
    &25 {  
        animation-delay: 2.5s !important;
    }
    &30 {  
        animation-delay: 3.0s !important;
    }
}


/* ぼかしから出現 */
.blur{
    animation-name:blurAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
}

@keyframes blurAnime{
    from {
        filter: blur(10px);
        transform: scale(1.02);
        opacity: 0;
    }

    to {
        filter: blur(0);
        transform: scale(1);
        opacity: 1;
    }
}

/* その場でふわっ */
.fadeIn{
    animation-name:fadeInAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeInAnime{
        from {
            opacity: 0;
        }
    
        to {
            opacity: 1;
        }
    }

/* 下からふわっ */
.fadeUp{
    animation-name:fadeUpAnime;
    animation-duration:2.0s;
    animation-fill-mode:forwards;
    opacity:0;
}

@keyframes fadeUpAnime{
    from {
    opacity: 0;
    transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 右からふわっ */
.fadeRight{
    animation-name:fadeRightAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeRightAnime{
        from {
            opacity: 0;
            transform: translateX(100px);
        }
    
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

/* 左からふわっ */

.fadeLeft{
    animation-name:fadeLeftAnime;
    animation-duration:1.5s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeLeftAnime{
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    
    to {
        opacity: 1;
        transform: translateX(0);
    }
    }

/* 拡大 */
.zoomIn{
    animation-name:zoomInAnime;
    animation-duration:1.0s;
    animation-fill-mode:forwards;
}

@keyframes zoomInAnime{
    from {
        transform: scale(0.6);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

//404
.error-body {
    margin: 400px auto;
    text-align: center;
    a {
        color: $c-t-blk;
    }
}