/////////////////////////////
// アイテム紹介のスタイル
//////////////////////////// 

.section__rank {
    width: 100%;
}

.rank {
    margin: 0 auto 100px;
    background-color: rgba($color: $c-main, $alpha: .1);
    border-radius: 10px;
    figure {
        max-width: 1100px;
        margin: 0 auto;
    }
    &__1 {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: -120px;
            left: -70px;
            width: 230px;
            height: 166px;
            background-image: url(../img/no-1.png);
            background-size: cover;
        }
    }
    @include sp {
        padding-bottom: 0;
        figure {
            max-width: 100%;
        }
        &__1 {
            &:before {
                top: -60px;
                left: 33%;
                width: 115px;
                height: 83px;
                transform: rotate(13deg);
            }
        }
    }
}

//タイトル
.rank__title {
    font-family: $f-h;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 80px;
    p {
        font-weight: 700;
        color: $c-rank-title;
        padding-bottom: 12px;
    }
    @include sp {
        padding-top: 25px;
    }
}

.rank-wrap {
    padding: 0 32px;
    @include sp {
        padding: 0 10px;
    }
}

//画像
.rank__img {
    figure {
        img {
            &:nth-of-type(1) {
                margin-bottom: 100px;
                @include sp {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

//ポイント
.rank__point {
    margin: 0 auto 100px;
    padding-bottom: 30px;
    background-color: $c-white;
    p {
        padding: 20px;
        margin-bottom: 80px;
        span {
            color: $c-main;
            font-weight: 700;
        }
    }
    @include sp {
        margin-bottom: 60px;
        p {
            padding: 6px;
            margin-bottom: 40px;
        }
    }
    ul {
        padding: 80px 10px;
        max-width: 660px;
        margin: 0 auto;
        li {
            padding: 20px 6px 20px 60px;
            border-bottom: 1px $c-main dashed;
            position: relative;
            letter-spacing: .1em;
            span {
                color: $c-main;
            }
            &:before {
                content: '';
                width: 32px;
                height: 22px;
                background-image: url(../img/check-icon.svg);
                background-size: cover;
                position: absolute;
                top: 20px;
                left: 12px;
                @include sp {
                    width: 20px;
                    height: 14px;
                    top: 26px;
                }
            }
            a {
                &:hover {
                    color: $c-main;
                }
            }
        }
        @include sp {
            padding: 30px 12px 60px;
            li {
                padding-left: 38px;
            }
        }
    }
}

.contents-wrap {
    max-width: 90%;
    margin: 0 auto;
}

//おすすめ
.rank__osusume {
    background-color: $c-white;
    margin-bottom: 100px;
    padding-bottom: 30px;
    ul {
        margin: 60px auto 80px;
        max-width: 1000px;
        display: grid;
        justify-content: center;
        li {
            margin-bottom: 30px;
            position: relative;
            padding-left: 30px;
            &:before {
                content: '';
                position: absolute;
                top: 2px;
                left: 0;
                width: 24px;
                height: 20px;
                background-image: url(../img/check-box.svg);
                background-size: cover;
            }
            span {
                &:nth-of-type(1) {
                    font-size: 1.8rem;
                    font-weight: 700;
                    color: $c-sub;
                }
                &:nth-of-type(2) {
                    font-size: 1.4rem;
                    display: flex;
                    padding-top: 6px;
                }
            }
        }
    }
    @include sp {
        ul {
            max-width: 90%;
            margin-bottom: 48px;
            li {
                span {
                    &:nth-of-type(1) {
                        font-size: 1.6rem;
                    }
                    &:nth-of-type(2) {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

//公式リンク
.official-link {
    text-align: center;
    background-color: $c-white;
    border-radius: 10px;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 20px;
    @include sp {
        width: 100%;
        padding-bottom: 1px;
    }
}

.link-point {
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: .1em;
    color: $c-red;
    margin-bottom: 46px;
    position: relative;
    top: -12px;
    @include sp {
        font-size: 1.8rem;
        line-height: 1.2;
        letter-spacing: normal;
        margin-bottom: 16px;
    }
}

.official-wrap {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    margin: 30px auto;
    a {
        color: $c-main;
        border-bottom: 1px solid $c-main;
    }
    p {
        font-size: 1rem;
        text-align: left;
    }
    @include sp {
        display: grid;
        align-items: center;
        gap: 6px;
        p {
            line-height: 1.6;
        }
    }
}

//通販
.rank__shopping {
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: .1em;
    color: $c-red;
    text-align: center;
    margin: 0 auto 100px;
    padding-bottom: 40px;
    p {
        margin-top: 60px;
    }
    background-color: $c-white;
    table {
        margin: 60px auto;
        position: relative;
        td {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2;
            padding: 12px 20px;
            color: $c-t-blk;
            vertical-align: baseline;
            border: 1px solid $c-line;
        }
        a {
            color: $c-main;
            font-weight: 700;
        }
        img {
            width: 62px;
            height: 62px;
        }
        caption {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2;
            text-align: right;
            color: $c-t-blk;
            caption-side: bottom;
            padding-top: 6px;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 30px;
            left: -100px;
            width: 130px;
            height: 130px;
            background-image: url(../img/check.png);
            background-size: cover;
        }
    }
    @include sp {
        margin-bottom: 60px;
        p {
            font-size: 1.8rem;
        }
        table {
            margin: 30px auto;
            td {
                font-size: 1.2rem;
                letter-spacing: normal;
                padding: 6px;
            }
            &:before {
                content: none;
            }
        }
    }
}

//価格
.table-price {
    color: $c-red !important;
    font-weight: 700 !important;
}

//キャンペーン
.rank__campaign {
    margin-bottom: 100px;
    figure {
        display: grid;
        grid-template-columns: 600px 280px;
        // grid-template-columns: 70% 30%;
        width: 100%;
        align-items: end;
        position: relative;
        margin-bottom: 100px;
        img {
            margin-left: 30px;
        }
        &:before {
            content: '';
            position: absolute;
            top: -22px;
            left: 0;
            width: 150px;
            height: 82px;
            background-image: url(../img/cam-item.png);
            background-size: cover;
        }
    }
    @include sp {
        figure {
            display: block;
            margin-bottom: 60px;
            img {
                margin-left: 0;
                &:nth-of-type(2) {
                    width: 60%;
                    margin-top: -10px;
                    margin: -10px 0 0 auto;
                }
            }
            &:before {
                width: 75px;
                height: 41px;
                top: -10px;
                left: -8px;
            }
        }
    }
}

.cam-text {
    display: none;
    @include sp {
        display: block;
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        color: $c-sub;
        padding-bottom: 30px;
    }
}

.cam-minus {
    margin-left: -30px !important;
}

//商品情報
.rank__info {
    margin-bottom: 160px;
    table {
        text-align: center;
        width: 90%;
        margin: 40px auto 60px;
        th, td {
            padding: 24px 12px;
            border: 1px solid $c-line;
            vertical-align: middle;
            font-size: 1.4rem;
            line-height: 1.2;
        }
        th {
            background-color: $c-table;
        }
        td {
            background-color: $c-white;
        }
        caption {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2;
            text-align: right;
            color: $c-t-blk;
            caption-side: bottom;
            padding-top: 6px;
            a {
                color: $c-main;
            }
        }
        img {
            width: 30px;
        }
        
    }
    @include sp {
        margin-bottom: 100px;
        table {
            width: 90%;
            th, td {
                font-size: 1.2rem;
            }
            caption {
                font-size: 1rem;
            }
        }
    }
}

//特徴
.rank__toku {
    margin-bottom: 60px;
    p {
        padding: 40px 20px 20px;
    }
    figure {
        width: 60%;
    }
    @include sp {
        margin-bottom: 30px;
        p {
            padding-top: 20px;
        }
    }
}

.text-red {
    font-size: 1.8rem;
    font-weight: 700;
    color: $c-red;
    @include sp {
        font-size: 1.4rem;
    }
}

.mb {
    margin-bottom: 100px;
    @include sp {
        margin-bottom: 60px;
    }
}

//口コミ
.rank__review {
    margin-bottom: 100px;
    padding-bottom: 40px;
    figure {
        width: 90%;
        margin-top: 60px;
    }
    @include sp {
        padding-bottom: 20px;
        figure {
            margin-top: 30px;
        }
    }
}